<div class="container seccion">
  <div class="card-columns">
    <% @todos.each_slice(3) do |row| %>
      <% row.each do |todos| %>
        <div class="card">
          <%= image_tag todos.photo, class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title"><%= todos.name %></h5>
            <% unless todos.todoadd?(current_user) %>
              <%= link_to 'Agregar tarea', todo_statuses_path(todos), class: 'btn btn-outline-success', method: :post %>
            <% else %>
              <%= link_to 'Tarea Agregada', statuses_path, class:'btn btn-outline-warning' %>
            <% end %>
            <%= link_to 'Ver detalle de tarea', todos, class:'btn btn-outline-primary' %>
          </div>
        </div>
      <% end %>
      <div class="w-100"></div>
    <% end %>
  </div>
</div>