<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "ToDo", root_path, class:'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "Tareas realizadas #{current_user.statuses.where(status: true).count}", statuses_path, class:'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if user_signed_in? %>
            <%= current_user.email %>
          <% else %>
            Ingresar
          <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
              <%= link_to "Edirar registro", edit_user_registration_path, class:'dropdown-item' %>
              <%= link_to "Salir", destroy_user_session_path, method: :delete, class:'dropdown-item' %>
            <% else %>
              <%= link_to "Ingresar", new_user_session_path, class:'dropdown-item' %>
              <%= link_to "Registrar", new_user_registration_path, class:'dropdown-item' %>
            <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>